<% if @league.users.count > 0 %>
<div class="row">
	<div class="col-md-4">
	<h2>Contestants</h2>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @league.users.each do |user| %>
	      <tr>
	        <td><%= link_to user.name, controller: "users", action: "show", id: user.server_id %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</div>
	<div class="col-md-8">
	</div>
</div>
<% else %>
	<h2>No Contestants yet</h2>
<% end %>

<% if @league.songs.count > 0 %>
<h2>Scores</h2>
	<table data-toggle="table">
		  <% users_ordered = [] %>
		  <% score_canonical = {} %>
		  <% @league.users.each do |user| %>
		  	<% users_ordered = users_ordered.push({"user" => user, "score" => 0.0, "song_score" => []}) %>
		  	<% @league.songs.each do |song| %>
		  		<% league_song = @league.league_songs.where("song_id =?", song.id).first %>
		  		<% score = nil %>
		  		<% if song.server_migs_dp_max != nil && song.server_migs_dp_max > 0 %>
		  			<% score = user.user_scores.where("song_id =? AND server_date >=? AND server_date <=? AND server_migs_dp_max >=?", song.id,@league.start_date,@league.finish_date,song.server_migs_dp_max).order(server_migs_dp_obtained: :desc).first %>
		  		<% else %>
		  			<% score = user.user_scores.where("song_id =? AND server_date >=? AND server_date <=?", song.id,@league.start_date,@league.finish_date).order(server_migs_dp_obtained: :desc).first %>
		  		<% end %>

		  		
		  		<% if score != nil %>
		  			<% if @league.scoring_mode == nil || @league.scoring_mode == 1 %>
		  				<% points = (league_song.factor * score.server_migs_dp_obtained).round(2) %>
		  				<% perfect_points = (league_song.factor * score.server_migs_dp_max).round(2) %>
		  			<% end %>
		  			<% if @league.scoring_mode == 2 %>
		  				<% points = (score.server_percent * (1 - Math::E ** (-1*0.1054*league_song.factor))).round(2) %>
		  				<% perfect_points = (100 * (1 - Math::E ** (-1*0.1054*league_song.factor))).round(2) %>
		  			<% end %>
		  			<% if @league.scoring_mode == 3 %>
		  				<% 
			  				if score.server_grade == 7
			  				  points = 6
			  				end
			  				if score.server_grade == 6
			  				  points = 5
			  				end
			  				if score.server_grade == 5 
			  					if score.server_misses == 0 && score.server_bads == 0 && score.server_goods == 0
			  						points = 4
			  					else
			  						points = 3
			  					end
			  				end
			  				if score.server_grade == 4
			  				  points = 2
			  				end
			  				if score.server_grade == 3
			  				  points = 1
			  				end
			  				if score.server_grade == 2
			  				  points = 0.5
			  				end
			  				if score.server_grade == 1 || score.server_grade == 0
			  				  points = 0
			  				end
		  				%>
		  				<% perfect_points = 6 %>
		  			<% end %>
		  			<% score_canonical[song.server_id] = (perfect_points) %>
		  			<% users_ordered[users_ordered.length-1]["song_score"].push(points) %>
		  			<% users_ordered[users_ordered.length-1]["score"] = (users_ordered[users_ordered.length-1])["score"] + points %>
		  		<% end %>
		  	<% end %>
		  	<% users_ordered.sort! { |x,y| y["score"] <=> x["score"] } %>
		  <% end %>
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Usuario</th>
		      <% @league.songs.each do |song| %>
		      	<th><%= link_to song.name, controller: "songs", action: "show", id: song.id %>
		      		<small class="label label-default center-block"><%= score_canonical[song.server_id] != nil ? score_canonical[song.server_id] : "--" %>pts max</small></th>
		      <% end %>
		      <th>Puntos totales</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		  <tbody style="height:110px">
		  	<% i = 1 %>
		    <% users_ordered.each do |u| %>

		      <tr id="tr-id-1" class="tr-class-1">
		      	<td id="td-id-1" class="td-class-1">
		    		<%= i %>
		    	</td>
		      	<% user = u["user"] %>
		      	<td id="td-id-1" class="td-class-1"><div class="center-block leaguecellname"><%= link_to user.name, controller: "users", action: "show", id: user.server_id %></div></td>
		      	<% j = 0 %>
		      	<% @league.songs.each do |song| %>
		      		<% league_song = @league.league_songs.where("song_id =?", song.id).first %>
			      	<% if song.server_migs_dp_max != nil && song.server_migs_dp_max > 0 %>
		  			<% score = user.user_scores.where("song_id =? AND server_date >=? AND server_date <=? AND server_migs_dp_max >=?", song.id,@league.start_date,@league.finish_date,song.server_migs_dp_max).order(server_migs_dp_obtained: :desc).first %>
			  		<% else %>
			  			<% score = user.user_scores.where("song_id =? AND server_date >=? AND server_date <=?", song.id,@league.start_date,@league.finish_date).order(server_migs_dp_obtained: :desc).first %>
			  		<% end %>
			      	<% if score != nil %>
			      		<td id="td-id-2" class="td-class-2">
			      			<div class="center-block leaguecell">
			      				<%= image_tag(ApplicationHelper.get_grade_image(score.server_grade), :alt => "", class: "center-block") %>
			      				<center><%= link_to score.server_percent.round(1).to_s+"%", ApplicationHelper.get_match_server_url(score.server_id) %>
			      				</center>
			      				<small class="label label-default center-block">(<%= u["song_score"][j] %>pts)</small>
			      			
			      			</div>
			      		</td>
			      		<% j = j + 1 %>
			      	<% else %>
			      		<td id="td-id-1" class="td-class-1">--</td>
			      	<% end %>
		      	<% end %>
		      	<% i = i + 1 %>
		      	<td id="td-id-1" class="td-class-1"><%= u["score"] %></td>
		      </tr>
		    <% end %>
		  </tbody>
	</table>
	</br>
<% else %>
	<h2>No Songs yet</h2></br>
<% end %>



<% if @league.organizer == current_user %>
	<%= form_tag(edit_league_path(@league), method: "get") do %>
	  	<%= submit_tag("Manage league", class: "btn btn-default pull-left") %>
	<% end %>
	<span></span>
	<%= form_tag(leagues_add_song_path, method: "get") do %>
		<%= hidden_field_tag(:id, @league.id) %>
	  	<%= submit_tag("Manage songs", class: "btn btn-default pull-left") %>
	<% end %>
	<%= form_tag(leagues_update_scores_all_path, method: "get") do %>
		<%= hidden_field_tag(:id, @league.id) %>
		<button type="submit" name="commit" data-loading-text="Loading..." class="btn btn-default pull-left loading_btn">
			Update all scores
		</button>
	<% end %>
<% end %>

<% @user = @league.users.find(current_user.id) rescue nil %>
<% if current_user != nil %>
	<% if @user == nil %>
	    <%= form_tag(leagues_join_league_path, method: "post") do %>
		    <%= hidden_field_tag(:userid, current_user.id) %>
		    <%= hidden_field_tag(:leagueid, @league.id) %>
		    <%= submit_tag("Join League", class: "btn btn-default pull-right") %>
		<% end %>
	<% else %>
		<% if Time.now.in_time_zone < @league.finish_date %>
			<%= form_tag(leagues_join_league_path, method: "delete") do %>
			    <%= hidden_field_tag(:userid, current_user.id) %>
			    <%= hidden_field_tag(:leagueid, @league.id) %>
			    <%= submit_tag("Leave League", class: "btn btn-default pull-right") %>
			<% end %>
		<% end %>
		<%= form_tag(leagues_update_scores_path, method: "get") do %>
		    <%= hidden_field_tag(:userid, current_user.id) %>
		    <%= hidden_field_tag(:id, @league.id) %>
		    <button type="submit" name="commit" data-loading-text="Loading..." class="btn btn-primary pull-right loading_btn">
				Update scores
			</button>
		<% end %>
	<% end %>
	</br>
	</br>
<% else %>
	<div class="container jumbotron">
		<center><h3>You must be logged in to join the leagues</h3></center>
	</div>
<% end %>
<script>
  $('.loading_btn').on('click', function () {
    var $btn = $(this).button('loading')
  })
</script>