<% if notice != nil && notice != "" %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>
<h1>Administrar Canciones</h1>
<h3>Liga: <%= @league.name %></h3>
<h3>Canciones actuales: <%= @league_songs.count %></h3>
<table class="table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Factor</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @league_songs.each do |song| %>
    <% @league_song = @league.league_songs.find_by song_id: song.id %>
      <tr>
        <td><%= link_to song.name, controller: "songs", action: "show", id: song.id %></td>
        <td><%= @league_song.factor %></td>
        <td>
        	<% if @league.organizer == current_user %>
        		<%= form_tag(leagues_add_song_path, method: "put") do %>
					<%= hidden_field_tag(:leaguesongid, @league_song.id) %>
  					<%= submit_tag("Editar factor", class: "btn btn-default pull-right") %>
  					<div class="col-xs-4 pull-right">
  						<%= number_field_tag(:factor,@league_song.factor,step: 0.1, class: "form-control pull-right") %>
  					</div>
				<% end %>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% if @songs != nil %>
	    <% @songs.each do |song| %>
	      <tr>
	        <td><%= song.name %></td>
	        <td>
	        	<% @s = @league_songs.find_by id: song.id %>
	        	<% if @s == nil %>
		        	<%= form_tag(leagues_add_song_path, method: "post") do %>
						<%= hidden_field_tag(:leagueid, @league.id) %>
						<%= hidden_field_tag(:songid, song.id) %>
					  	<%= submit_tag("Añadir cancion", class: "btn btn-default pull-right") %>
					<% end %>
				<% else %>
					<%= form_tag(leagues_add_song_path, method: "delete") do %>
						<%= hidden_field_tag(:leagueid, @league.id) %>
						<%= hidden_field_tag(:songid, song.id) %>
					  	<%= submit_tag("Remover", class: "btn btn-default pull-right") %>
					<% end %>
				<% end %>
	        </td>
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>
<br>
<div class="text-center">
  <%= paginate @songs %>
</div>
<%= link_to 'Back', @league %>