<p id="notice"><%= notice %></p>
<p id="notice"><%= params[:notice] %></p>
<%= render 'league_header' %>
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Informacion", controller: "leagues", action: "show", id: @league.id %></li>
  <li role="presentation" class="active"><a href="#">Mensajes</a></li>
</ul>
<%= render 'publish_comment' %>