  <%= stylesheet_link_tag    'bootstrap-table.min', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'bootstrap-table-all-min', 'data-turbolinks-track' => false %>
  <p id="notice"><%= notice %></p>
<p id="notice"><%= params[:notice] %></p>
<%= render 'league_header' %>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Informacion</a></li>
  <li role="presentation"><%= link_to "Mensajes", controller: "leagues", action: "publish_comment_show", id: @league.id %></li>
</ul>
<%= render 'details_league' %>