<%= simple_form_for @stairway, as: 'stairway', wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <% if @stairway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stairway.errors.count, "error") %> prohibited this stairway from being saved:</h2>

      <ul>
      <% @stairway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description , class: 'form-control'%>
  </div>

  <%= f.button :submit, class: 'btn-default pull-left' %>
<% end %>
