<% if user_signed_in? %>
	<% if current_user.id != @user.id %>
		<% if current_user.friends.where("user_one_id =? OR user_two_id =?", @user.id, @user.id).take == nil %>
			<% if current_user.friends_request.where("user_one_id =? OR user_two_id =?", @user.id, @user.id).take == nil %>
				<%= form_tag(users_friend_request_path, method: "post") do %>
				  <%= hidden_field_tag(:id, @user.server_id) %>
				  <%= submit_tag("Add to friends", class: "btn btn-default") %>
				<% end %>
			<% else %>
				<% if current_user.friends_request.where("user_two_id =?", @user.id).take != nil %>
					<%= form_tag(users_friend_request_path, method: "delete", class: "simple_form") do %>
					  <%= hidden_field_tag(:id, @user.server_id) %>
					  <%= submit_tag "Cancel request", class: "btn btn-default" %>
					<% end %>
				<% end %>
				<% if current_user.friends_request.where("user_one_id =?", @user.id).take != nil %>
					<%= form_tag(users_friend_request_path, method: "put", class: "simple_form") do %>
					  <%= hidden_field_tag(:id, @user.server_id) %>
					  <%= submit_tag "Accept request", class: "btn btn-default" %>
					<% end %>
				<% end %>
			<% end %>
		<% else %>
			<span class="label label-default">Friends</span>
		<% end %>
	<% end %>
<% end %>