<% if user_signed_in? %>
	<% if @relationship != nil %>
		<% @your_points = 0 %>
		<% @friend_points = 0 %>
		<% @relationship_songs.each do |song| %>
	    	<% @your_score = song.user_scores.where("user_id =?", current_user.id).order(:server_migs_dp_obtained).first %>
	    	<% @friend_score = song.user_scores.where("user_id =?", @user.id).order(:server_migs_dp_obtained).first %>
	    	<% if (@friend_score == nil && @your_score != nil ) || @friend_score != nil && @your_score != nil && @your_score.server_percent > @friend_score.server_percent %>
	    		<% @your_points = @your_points + 1 %>
	    	<% end %>

	    	<% if (@your_score == nil && @friend_score != nil ) || @friend_score != nil && @your_score != nil && @friend_score.server_percent > @your_score.server_percent %>
	    		<% @friend_points = @friend_points + 1 %>
	    	<% end %>
		<% end %>
		<h2>Songs</h2>
		<h3>Wins <%= @your_points %> / Loses <%= @friend_points %></h3>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Your Score</th>
		      <th><%= @user.name %>'s Score</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @relationship_songs.each do |song| %>
		    	<% @your_score = song.user_scores.where("user_id =?", current_user.id).order(:server_migs_dp_obtained).first %>
		    	<% @friend_score = song.user_scores.where("user_id =?", @user.id).order(:server_migs_dp_obtained).first %>
		    	<% if (@friend_score == nil && @your_score != nil ) || @friend_score != nil && @your_score != nil && @your_score.server_percent > @friend_score.server_percent %>
		    		<% result = 1 %>
		    	<% end %>

		    	<% if (@your_score == nil && @friend_score != nil ) || @friend_score != nil && @your_score != nil && @friend_score.server_percent > @your_score.server_percent %>
		    		<% result = 0 %>
		    	<% end %>

		    	<% if (@your_score == nil && @friend_score == nil ) %>
		    		<% result = -1 %>
		    	<% end %>
		      <tr>
		        <td><%= link_to song.name, song %>
		        	<% if result == 1 %>
		        		<span class="label label-success pull-right">Win</span>
		        	<% end %>
		        	<% if result == 0 %>
		        		<span class="label label-danger pull-right">Lost</span>
		        	<% end %>
		        	<% if result == -1 %>
		        		<span class="label label-default pull-right">Tie</span>
		        	<% end %>
		        </td>
		        <% if @your_score != nil %>
		        	<td><%= @your_score.server_percent %>% <%= @your_score.server_marvelous %>-<%= @your_score.server_perfects %>-<%= @your_score.server_greats %>-<%= @your_score.server_goods %>-<%= @your_score.server_bads %>-<%= @your_score.server_misses %> (Holds:<%= @your_score.server_ok %>/<%= @your_score.server_ok+@your_score.server_ng %>)</td>
		        <% else %>
		        	<td>No score</td>
		        <% end %>
		        <% if @friend_score != nil %>
		        	<td><%= @friend_score.server_percent %>% <%= @friend_score.server_marvelous %>-<%= @friend_score.server_perfects %>-<%= @friend_score.server_greats %>-<%= @friend_score.server_goods %>-<%= @friend_score.server_bads %>-<%= @friend_score.server_misses %> (Holds:<%= @friend_score.server_ok %>/<%= @friend_score.server_ok+@friend_score.server_ng %>)</td>
		        <% else %>
		        	<td>No score</td>
		        <% end %>
		        <td><%= link_to 'Edit', edit_song_path(song) %></td>
		        <td><%= form_tag(users_propose_song_path, method: "delete") do %>
						<%= hidden_field_tag(:userid, @user.id) %>
						<%= hidden_field_tag(:songid, song.id) %>
					  	<%= submit_tag("Remover", class: "btn btn-link") %>
					<% end %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
<% end %>