<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="thumbnail">
    <center><ul class="nav nav-pills max_width">
    <li role="presentation" <% if @order == 'name' %>class="active"<% end %>>
    		<%= link_to "Name", controller: "users", action: "index" %>
    </li>
    <li role="presentation" <% if @order == 'rank' %>class="active"<% end %>>
    		<%= link_to "Rank", controller: "users", action: "index_rank" %>
    </li>
    </center>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>

          <td><%= link_to user.name, controller: "users", action: "show", id: user.server_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>