<% if notice != nil && notice != "" %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<h1>Songs</h1>
<div class="thumbnail">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added by</th>
      <th>Difficulty</th>
      <th>Total plays</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song %></td>
        <td>
          <% if song.creator != nil %>
            <%= song.creator.name %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= song.server_difficulty_name %>(<%= song.server_difficulty_number %>)</td>
        <td><%= song.user_scores.count %></td>
        <!-- <td><%= song.server_id %></td> -->
        <% if can? :manage, song %>
          <td><%= link_to 'Edit', edit_song_path(song) %></td>
          <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if can? :manage, Song %>
  <%= link_to 'New Song', new_song_path %>
<% end %>
