<div class="container profile">
	<center><h2>Profile</h2></center>
	<ul class="list-group">
		<li class="list-group-item"> Hi <%= current_user.name %>!</li>
	  	<% @rs = current_user.friends_two_req %>
	  	<% if @rs.length  == 0 %>
	  		<a href=<%= users_friend_request_path %> class="list-group-item">Friends</a>
	  	<% else %>
	  		<a href=<%= users_friend_request_path %> class="list-group-item">Friends <span class="badge"><%= @rs.length %></span></a>
	  	<% end %>
	  	<a href=<%= destroy_user_session_path %> data-method="delete" class="list-group-item">Log out</a>
	</ul>
</div>